@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --Red: hsl(4, 100%, 67%);
    --Red-secundary: hsl(340, 87%, 62%);
    --Red-transparency: hsla(4, 100%, 67%, 0.521);
    --Blue-800: hsl(234, 29%, 20%);
    --Blue-700: hsl(235, 18%, 26%);
    --Grey: hsl(0, 0%,58%);
    --White: hsl(0, 0%, 100%);
}
body {
    font-family: Roboto, sans-serif;
    background: var(--White);
    color: var(--Blue-800);
}
.main {
    position: relative; /** for modal */
}
.grid {
    display: grid;
}
.img-container .image {
    width: 100%;

}
.form {
    padding: 2rem 1.5rem;
    display: grid;
    align-content: space-between;
}
.info-content {
    display: grid;
    gap: 1.3rem;
}
.title {
    /* font-size: 2.5rem; */
    font-size: clamp(2.5rem, 2.4rem + 1vw, 3.5rem);
}
.paragraph {
    line-height: 1.5;
    
    & .bold {
        font-weight: 700;
    }
}
.list {
    list-style: none;
    display: grid;
    gap: 0.74rem;
    
    .list__item {
        position: relative;
        padding-left: 2.3rem;   /** Tabula texto */
             
        &::before {
            content: '';
            width: 1.35rem;
            height: 1.35rem; 
            background: url(assets/images/icon-list.svg) no-repeat center;
            background-size: contain;
            position: absolute;
            left: 0;
            top: 1.5px;
        }
    }
}
.email__label {
    font-size: 0.75rem;
    font-weight: 700;
    margin-top: 1.1rem ;
}
.email__input {
    border-radius: 0.5rem;
    padding: 1.1rem 1.4rem ;
    border: 1px solid var(--Grey);
    font-size: 0.99rem;
    margin-top: -0.5rem;

    &::placeholder {
        color: var(--Grey);
    }

    &:focus {
        border: 1px solid var(--Blue-700)
    }
}
.button {
    width: 100%;
    font-weight: 700;
    font-size: 0.95rem; 
    color: var(--White);
    background: var(--Blue-700);
    padding: 1rem;
    border:none;
    border-radius: 0.5rem ;
    margin-top: 1.9rem;
    cursor: pointer;
    
    &:hover {
        box-shadow: 0 7px 20px 0px var(--Red-transparency);
        background: linear-gradient( to right, var(--Red-secundary), var(--Red) );
    }
}
.modal {
    visibility: hidden;
    position: absolute;
    inset: 0 0 0 0;
    background: var(--Blue-700);
    height: 100%;
    display: grid;
    place-items: center;
}
.modal-container {
    background: var(--White);
    height: 100%;
    padding: 2rem 1.5rem;
    
    display: grid;
    align-content: space-between;
}
.modal__icon {
    margin-top: 20vh;
}
.modal__title {
    margin-top: 2rem;
    line-height: 1;
}
.modal__description {
    margin-top: 1.8rem;
}
.modal.active {
    visibility: visible;
}

@media screen and ( min-width: 550px ){
    
}

@media screen and ( min-width: 850px ){
    body {
        background:var(--Blue-700)
    }
    .main {
        display: grid;
        place-items: center;
        height: 100dvh;
    }
    .grid {
        grid-template-columns: 1fr 1fr;
        background: var(--White);
        border-radius: 2rem;
        max-width: 58.125rem /*930px*/;
        height: 40rem;
    }
    .img-container {
        order: 2;
        padding: 1.5rem;
        display: flex;
        justify-content: flex-end;

        .image {
            width: auto;
        }
    }
    .form {
        order: 1;
        align-content: center;
        height: 100%;
        padding-left: 4rem;
    }
    .modal-container {
        width: 31.5rem;
        background: var(--White);
        padding: 3.5rem 4rem;
        height: auto;
        top: auto;
        border-radius: 2rem;
    }
    .modal__icon {
        margin-top: auto;
    }
    .modal__title {
        font-size: 3.5rem;
    }
}